<section class="ftco-section bg-light">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12 d-flex">
                <div class="blog-entry justify-content-end" data-aos="" data-aos-duration="1000" data-aos-delay="100">
                    <a class="block-20 img d-flex align-items-end" style="background-image:url({{blogDetails&&blogDetails.image?blogDetails.image:img}})">
                    </a>
                    <div class="text-center">
                        <p class="meta"><span>{{blogDetails?.createdAt | date}}</span></p>
                        <h3 class="heading mb-3"><a>{{blogDetails?.title}}</a></h3>
                        <p class="blog_details" innerHtml="{{blogDetails?.description}}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>