<section class="hero-wrap hero-wrap-2" style="background-image: url(assets/images/bg_4.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 pt-5 text-center">
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="index-2.html">Home <i class="fa fa-chevron-right"></i></a
          ></span>
                    <span>Our Designs <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-0 bread">Our Designs</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ftco-search d-flex justify-content-center">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap d-flex justify-content-center">
                            <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical"></div>
                        </div>
                        <div class="col-md-12 tab-wrap">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                                    <form action="#" class="search-property-1" [formGroup]="searchForm">
                                        <div class="row g-0">
                                            <!-- <div class="col-md d-flex">
                          <div class="form-group p-4 border-0">
                              <label for="#">Enter Keyword</label>
                              <div class="form-field">
                                  <div class="icon">
                                      <span class="fa fa-search"></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Enter Keyword" formControlName="kerword" />
                              </div>
                          </div>
                      </div> -->
                                            <div class="col-md d-flex">
                                                <div class="form-group p-4">
                                                    <label for="#">Budget</label>
                                                    <div class="form-field">
                                                        <div class="icon">
                                                            <span class="ion-ios-pin"></span>
                                                        </div>
                                                        <select type="text" class="form-control" formControlName="budget" id="title">
                                      <option value="1">100-500</option>
                                      <option value="2">500-1000</option>
                                      <option value="3">1000-5000</option>
                                      <option value="4">5000-10000</option>
                                      <option value="5">10000-20000</option>
                                      <option value="6">20000-50000</option>
                                      <option value="7">50000+</option>
                                  </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md d-flex">
                                                <div class="form-group p-4">
                                                    <label for="#">Area Range</label>
                                                    <div class="form-field">
                                                        <div class="select-wrap">
                                                            <div class="icon">
                                                                <span class="fa fa-chevron-down"></span>
                                                            </div>
                                                            <select type="text" class="form-control" formControlName="areaRange" id="title">
                                          <option value="30-50">30-50sqm</option>
                                          <option value="51-80">51-80sqm</option>
                                          <option value="81-120">81-120sqm</option>
                                          <option value="121-180">121-180sqm</option>
                                          <option value="181-250">181-250sqm</option>
                                          <option value="251-350">251-350sqm</option>
                                          <option value="351-500">351-500sqm</option>
                                          <option value="501-700">501-700sqm</option>
                                          <option value="701-900">701-900sqm</option>
                                          <option value="901-150000">951sqm & more</option>
                                          </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md d-flex">
                                                <div class="form-group p-4">
                                                    <label for="#">Trending Type</label>
                                                    <div class="form-field">
                                                        <div class="select-wrap">
                                                            <div class="icon">
                                                                <span class="fa fa-chevron-down"></span>
                                                            </div>
                                                            <ng-select formControlName="trendingTypes" [multiple]="true">
                                                                <ng-option *ngFor="let data of trendingData" [value]="data.id">{{ data.title }}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md d-flex">
                                                <div class="form-group p-4">
                                                    <label for="#">Image Keywords</label>
                                                    <div class="form-field">
                                                        <div class="select-wrap">
                                                            <div class="icon">
                                                                <span class="fa fa-chevron-down"></span>
                                                            </div>
                                                            <select type="text" class="form-control" formControlName="imageInspirationType" id="title">
                                          <option value="1">All</option>
                                          <option value="2">Living</option>
                                          <option value="3">Dining</option>
                                          <option value="4">Bedroom</option>
                                          <option value="5">Bathroom</option>
                                          <option value="6">Kitchen</option>
                                          <option value="7">Others</option>
                                      </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md d-flex">
                                                <div class="form-group d-flex w-100 border-0">
                                                    <div class="form-field w-100 align-items-center d-flex">
                                                        <input type="submit" value="Search" (click)="searchSubmit()" class="align-self-stretch form-control btn btn-primary" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="advertisment_sec">
    <div class="advertisment">
        <app-advertisement [add]="section_type"></app-advertisement>
                        </div>
</div>


<section class="ftco-section ftco-agent">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-3" data-aos="" data-aos-delay="100" data-aos-duration="1000" *ngFor="let data of designList">
                <div class="property-wrap">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template *ngFor="let img of data?.design_images" carouselSlide>
                            <a class="img img-property" style="background-image: url({{img.imageUrl}}); height: 200px;">
                                <p class="price">
                                    <span class="orig-price">${{ data.price }}</span>
                                </p>
                                <p class="heart_icon" (click)="likeUnlike(data.id)">
                                    <span class="orig-price">
                                        <i class="fa" [ngClass]="{ 'fa-heart-o': !data.isLike, 'fa-heart': data.isLike }"></i>
                                    </span>
                                </p>
                            </a>
                        </ng-template>
                    </owl-carousel-o>
                    <div class="text" style="cursor: pointer; padding: 15px" (click)="openDetail(data)">
                        <!-- <div class="list-team d-flex align-items-center mb-4">
                            <div class="d-flex align-items-center">
                                <span class="package_box  d-flex">
                                    {{data.packageIncludes}}
                                </span>
                            </div>
                        </div> -->
                        <h3 class="text_single_line">
                            <a>{{ data.title }}</a>
                        </h3>
                        <p class="design-description" [innerHTML]="data?.description"></p>
                        <strong>Villa</strong>
                        <div class="trend-type">
                            <p class="tag">New</p>
                            <p class="tag">Trending</p>
                        </div>

                        <!-- <ul class="property_list mt-3 mb-0">
                            <li>
                                <span>20 Projects</span>
                            </li>
                            <li>
                                <span>{{data.design_images.length}} Photos</span>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>