@use '/src/assets/css/_vars.scss' as _var;

span.orig-price {
    background: #ffffffab;
    padding: 4px 6px;
    border-radius: 5px;
    cursor: pointer;
}

.package_box {
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    background: #5ea51d;
    border-radius: 4px;
    padding: 3px 7px;
}

::ng-deep .ng-select .ng-select-container {

    border: 1px solid #fff !important;

}



::ng-deep .owl-carousel .owl-nav {
    display: none;
}

::ng-deep .owl-carousel .owl-dots {
    margin-top: 10px;
}

.design-description {
    width: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.trend-type {
    display: flex;
    width: 100%;
    height: auto;
    gap: 20px;

    .tag {
        padding: 5px 10px;
        border-radius: 10px;
        background: _var.$ocean-blue;
        color: #fff;
    }
}