.profile-header{
        background: #F8FBFD;
        margin-top: -100px;
        position: relative;
        z-index: 1;
        padding: 30px;
}
.sub_details_section{
    margin: 5px;
    h5{
        font-weight: bolder;
    }

}
.property-wrap{
    margin: 5px;
}
.package_direction{
    display: flex;
    white-space: nowrap;

}



