.fa-heart,
.fa-heart-o {
    background: #ffffffab;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

.bar-ratings {
    margin-top: -22px;
    margin-left: 5px;
}
.logo_img{
    height: 35px;
    width: 35px;
}