<ng-container *ngIf="listFilter && listFilter.length>0">
    <div class="advertisment_sec" [ngClass]="addSectionHide ? 'addHide' : 'addShow' ">
        <div class="advertisment">
            <div class="carousel-testimony">
                <div class="cross-section" (click)="addHide()">
                    <i class="fa fa-times"></i>
                </div>
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let data of listFilter">
                        <div class="item">
                            <div class="testimony-wrap">
                                <img src="{{data.image}}" alt="" srcset="">
                                <div class="text">
                                    <p class="mb-4 msg">
                                        <!-- {{data.title}} -->
                                    </p>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="{{data.link}}" target="_blank" rel="noopener noreferrer">{{data.link}} </a>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</ng-container>