<div class="carousel-testimony">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let data of listDetails">
            <div class="item">
                <a href="{{data.link}}" target="_blank" rel="noopener noreferrer">
                    <div class="testimony-wrap" style="background-image: url({{data.image}});">
                        <div class="text">
                            <p class="mb-4 msg">
                                {{data.title}}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>