.logout {
    padding: 3px 4px;
}

.fa-sign-out:before {
    font-size: 18px;
}

.btn.btn-primary.logout {
    background: #000 !important;
    border: 1px solid #000 !important;
    color: #fff !important;
}