<div class="py-4 top-wrap">
    <div class="container-xl">
        <div class="row d-flex align-items-start">
            <div class="col-md topper d-flex mb-md-0 align-items-xl-center">
                <div class="icon d-flex justify-content-center align-items-center"><span class="fa fa-map"></span>
                </div>
                <div class="text pl-3 pl-md-3">
                    <p class="con"><span>Free Call</span> <span>+1 234 456 78910</span></p>
                    <p class="con">Call Us Now 24/7 Customer Support</p>
                </div>
            </div>
            <div class="col-md topper d-flex mb-md-0 align-items-xl-center">
                <div class="icon d-flex justify-content-center align-items-center"><span class="fa fa-paper-plane"></span>
                </div>
                <div class="text pl-3 pl-md-3">
                    <p class="hr"><span>Our Location</span></p>
                    <p class="con">Suite 721 New York NY 10016</p>
                </div>
            </div>
            <div class="col-md topper d-flex mb-md-0 align-items-xl-center">
                <div class="icon d-flex justify-content-center align-items-center"><span class="fa fa-connectdevelop"></span>
                </div>
                <div class="text pl-3 pl-md-3">
                    <p class="con"><span>Connect </span> <span>with us</span></p>
                    <p class="con"><a href="#">Facebook</a> <a href="#">Twitter</a> <a href="#">Dribbble</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg  ftco-navbar-light">
    <div class="container-xl">
        <a class="navbar-brand align-items-center" href="index-2.html">
            <span class="">Oakberry <small>Real Estate Agency</small></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="fa fa-bars"></span> Menu
</button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about-us">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/properties">Properties</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/agents">Agents</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/blogs">Blog</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
            </ul>
            <p class="mb-0"><a href="#" class="btn btn-primary rounded">Submit A Property</a></p>
        </div>
    </div>
</nav>