<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_4.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 pt-5 text-center">
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>Inspirations <i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-0 bread">Inspirations</h1>
            </div>
        </div>
    </div>
</section>
<app-advertisement [add]="section_type"></app-advertisement>
<!-- <section class="ftco-section bg-light">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12 d-flex" *ngFor="let data of listDetails">
                <div class="blog-entry justify-content-end" data-aos="" data-aos-duration="1000" data-aos-delay="100" [routerLink]="['/inspirations',data.master_insipiration.title]">
                    <a class="block-20 img d-flex align-items-end" style="background-image:url({{data.image?data.image:img}})">
                    </a>
                    <div class="text">
                        <p class="meta"><span>{{data.createdAt | date}}</span>
                        </p>
                        <h3 class="heading mb-3"><a>{{data.title}}</a></h3>
                        <p class="blog_details" innerHtml="{{data.description}}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="ftco-section bg-light">
    <div class="container-xl">
        <div class="row">
            <h3 class="heading mb-3"><a>Importance of interior design</a></h3>
            <p>The Greeks had such a strong appreciation for the beauty that they coined the term "esthetics" to describe it. The word underwent numerous changes before becoming known today as aesthetics. Aesthetics refers to the study of beauty and physical
                appearance. We try to maintain this aesthetics in our day-to-day activities and surroundings, which affects how we feel and how we are feeling. In addition to boosting our spirits, interior design efficiently maximizes the space in our
                homes by making the most use of available space.
            </p>
            <p>Today's society places a high value on an interior design since it helps us live more aesthetically pleasing, contemporary lives. Additionally, it raises the functionality of our lives and introduces us to beauty and comfort.</p>
            <p>Interior designers are one of the most crucial components when discussing interior design. Designers make every effort to ensure that the value of their work is understood and appreciated by the public. When it comes to creating the ideal
                homes and structures, designers take their client’s needs into consideration as well as their own hearts. They impart their knowledge and assist others in making progress with their preferences and choices.</p>
            <p>For every form of building, including homes, stores, offices, malls, coffee shops, and restaurants, interior designers ensure that the interior spaces they are creating are always aesthetically pleasing, useful, and safe. They get to select
                the colors, fabrics, textures, furnishings, flooring, wallpaper, lighting, and other materials for each interior space or building in their capacity as interior designers. This demonstrates the value of interior design.
            </p>
            <p>Our interior designers work closely with clients to fully comprehend what they genuinely desire and then tailor the designs to fit those needs.
            </p>
            <p class="blog_details">Here are 4 things you can do to get inspiration for your Interior Design Project:
            </p>
            <p>1. Browse the internet, lifestyle magazines, or social media platforms to check out the latest trends.
            </p>
            <p>2. Talk to a professional Interior Designer, talk to us!</p>
            <p>3. Ask your Friends, Family, or Relatives how they designed their house</p>
            <p>4. Attend design events or show flats</p>
            <p>With the help of our professional interior designers in Singapore, let us transform your living space into your particular favorite.</p>
            <p>Also, check out our trending page for more ideas on your wanted designs,
                <a href="http://renoguru-demo.vercel.app/#/trending" target="_blank" rel="noopener noreferrer">Click link</a>
            </p>
        </div>
    </div>
</section>