<section class="ftco-section bg-light">
    <div class="">
        <div class="container" id="container">
            <div class="form-container log-in-container">
                <form [formGroup]="receviedotpForm">
                    <h2>OTP verify</h2>
                    <input formControlName="otp" name="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="6" placeholder=" Enter Your OTP" />
                    <button type="submit" [disabled]="!receviedotpForm.valid" (click)="otpverifiyMethod()">Submit</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>OTP </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>