.text_single_line {
    min-height: 50px;
    max-height: 50px;
    font-size: 19px;
    color: #a9a3a3 !important;
}

.property-wrap .text h3,
.property-wrap .text .h3 {
    font-size: 20px;
    margin-bottom: 0;
    color: #000;
    font-weight: 700;
}

.search-input {
    input{
        max-width: 700px;
        width: 40vw;
        min-width: 200px;
        height: 80px;
    }

    button{
        width: 150px;
    }
}

.designer-description {
    color: #a9a3a3 !important;
    width: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}