.text_single_line {
    min-height: 50px;
    max-height: 50px;
    font-size: 19px;
    color: #a9a3a3 !important;
}

.property-wrap .text h3,
.property-wrap .text .h3 {
    font-size: 20px;
    margin-bottom: 0;
    color: #000;
    font-weight: 700;
}
