<section class="ftco-section bg-light">
    <div class="">
        <div class="container" id="container">
            <div class="form-container log-in-container">
                <form [formGroup]="signupForm" (ngSubmit)="signupMethod()">
                    <h2>Sign up</h2>
                    <div class="social-container">
                        <a class="social" (click)="facebookSignin()"><i class="fa fa-facebook fa-2x"></i></a>
                        <a class="social" (click)="googleSignin()"><i class="fab fa fa-google fa-2x"></i></a>
                    </div>
                    <span>or use your account</span>
                    <input type="text" class="form-control" formControlName="firstName" placeholder="first name" />
                    <small class="text-danger" *ngIf="f.firstName.invalid && f.firstName.touched">*please enter your first name in characters</small>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="last name" />
                    <small class="text-danger" *ngIf="f.lastName.invalid && f.lastName.touched">*please enter your first name in characters</small>
                    <input type="email" class="form-control" formControlName="email" placeholder="email" />
                    <small class="text-danger" *ngIf="f.email.invalid && f.email.touched">*  please enter your Email
                    </small>
                    <select name="gender" formControlName="gender" for id="gender">
                        <option value="" selected  disabled>select gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                    <input type="new text" minlength="8" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="11" class="form-control" formControlName="phone" placeholder="Phone Number" />
                    <small class="text-danger" *ngIf="f.phone.invalid && f.phone.touched">*please enter your phone number</small>
                    <input type="password" class="form-control" formControlName="password" placeholder="password" />
                    <input type="password" class="form-control" formControlName="confirm_password" placeholder="confirm password" />
                    <small class="text-danger" *ngIf="f.confirm_password.errors?.mustMatch">*Your password is not matched </small>
                    <p class="signup" routerLink="/login">Already have an account? <span class="">Login</span></p>

                    <a routerLink="forget-password">Forgot your password?</a>
                    <button>Sign Up</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Sign up </h1>
                        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>