<div class="section-head login-head">
    <div class="container-fluid">
      <div class="btnback">
        <a [routerLink]="['/user/welcome']"><i class="fas fa-arrow-left mx-2"></i>Back</a>
      </div>
      <br />
      <div class="col-12 col-md-10 col-lg-10 cards_main mx-auto">
        <div class="heading-txt">
          <h2 class="text-center sub-heading py-2" style="color: #484451; margin-bottom: 0">
            Sign Up
          </h2>
        </div>
        <div class="welcome-txt">
          <p class="text-center">
            Please enter your real name, this will help with proving your identity
            which <br />
            you need to be able to buy, sell, let and rent properties.
            <i class="fas fa-exclamation-circle" style="color: #43d2ff"></i>
          </p>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
          <form [formGroup]="signupForm">
            <div class="form-group">
              <input type="text" name="firstName" formControlName="firstName" class="form-control"
                placeholder=" First Name" />
              <!-- <small
                class="text-danger"
                *ngIf="f['firstName'].invalid && f['firstName'].touched"
                >*please entered your first name in characters</small
              > -->
              <div *ngIf="submitted && f['firstName'].invalid" class="text-danger">
                *Please enter your first name
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="lastName" formControlName="lastName" class="form-control"
                placeholder=" Last Name" />
              <!-- <small
                class="text-danger"
                *ngIf="f['lastName'].invalid && f['lastName'].touched"
                >*please entered your last name in characters</small
              > -->
              <div *ngIf="submitted && f['lastName'].invalid" class="text-danger">
                *Please enter your last name
              </div>
            </div>
            <div class="form-group">
              <input type="email" name="emailId" formControlName="emailId" class="form-control" placeholder=" Email" />
              <!-- <small
                class="text-danger"
                *ngIf="f['emailId'].invalid && f['emailId'].touched"
                >* please entered your Email
              </small> -->
              <div *ngIf="submitted && f['emailId'].invalid" class="text-danger">
                *Please enter your correct Email id
              </div>
            </div>
            <div class="form-group">
              <input type="password" name="password" formControlName="password" class="form-control"
                placeholder="Password" />
              <!-- <small class="text-danger" *ngIf="f.password.invalid && f.password.touched">* please entered  Password</small> -->
              <!-- <div *ngIf="f.password.errors && f.password.errors.minlength">password should be 8 character.</div> -->
              <div *ngIf="submitted && f['password'].invalid" class="text-danger">
                *Please enter your Password
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="pass" id="inputPassword3"
                formControlName="confirm_password" placeholder="Confirm Password" />
  
              <!-- <div
                class="text-danger"
                *ngIf="f['confirm_password'].errors?.['mustMatch'] && submitted  && f['password'].invalid"
              >
                Your password is not matched
              </div> -->
              <div *ngIf="submitted && f['confirm_password'].invalid || f['confirm_password'].errors?.['mustMatch']"
                class="text-danger">
                *Your password is not match
              </div>
            </div>
  
            <div class="prev-next-btn text-center form-group">
              <button type="submit" class="next-btn" (click)="signupMethod()">
                SignUp
              </button>
            </div>
            <!-- <small
              class="text-danger"
              *ngIf="signupForm.invalid && signupForm.touched"
              >*please Fill Complete form first</small
            > -->
          </form>
          <div class="create-ac text-center py-3">
            <p>
              Already have a account ?
              <span class="ml-3" style="color: #43d2ff; cursor: pointer" [routerLink]="['/user/login']">
                Login</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
