<section class="hero-wrap hero-wrap-2" style="background-image: url({{blogDetails&&blogDetails.image?blogDetails.image:img}})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 pt-5 text-center">
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span> Trending<i class="fa fa-chevron-right"></i></span>
                </p>
                <h1 class="mb-0 bread">{{blogDetails?.title}}</h1>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12 d-flex">
                <div class="blog-entry justify-content-end" data-aos="" data-aos-duration="1000" data-aos-delay="100">
                    <div class="text-center">
                        <!-- <p class="meta"><span>{{blogDetails?.createdAt | date}}</span></p> -->
                        <!-- <h3 class="heading mb-3"><a>{{blogDetails?.title}}</a></h3> -->
                        <p class="blog_details" innerHtml="{{blogDetails?.description}}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>