<section class="ftco-section bg-light">
  <div class="container-xl">
    <div class="row justify-content-center mb-5">
      <div
        class="col-md-7 heading-section text-center"
        data-aos-duration="1000"
      >
        <span class="subheading">Our Blog</span>
        <h2>Recent Blog</h2>
      </div>
    </div>
    <owl-carousel-o [options]="listDetails">
      <ng-template *ngFor="let data of listDetails" carouselSlide>
        <div class="property-wrap">
          <div
            class="blog-entry justify-content-end"
            [routerLink]="['/blogs-details', data.id]"
          >
            <a
              class="block-20 img d-flex align-items-end"
              style="background-image:url('{{data.image}}')"
            >
            </a>
            <div class="text">
              <p class="meta">
                <span>{{ data.createdAt | date }}</span>
              </p>
              <h3 class="heading mb-3">
                <a>{{ data.title }}</a>
              </h3>
              <p
                class="blog_details text_single_line"
                innerHtml="{{ data.description }}"
              ></p>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
