span.orig-price {
    background: #ffffffab;
    padding: 4px 6px;
    border-radius: 5px;
    cursor: pointer;
}
 .fa-heart{
    color:#5ea51d ;
}
.package_box {
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    background: #5ea51d;
    border-radius: 4px;
    padding: 3px 7px;
}