<div class="section-head login-head">
  <div class="container-fluid">
    <div class="btnback">
      <a ><i class="fas fa-arrow-left mx-2"></i>Back</a>
    </div>
    <br />
    <div class="col-sm-12 col-md-10 align-items-center cards_main mx-auto">
      <div class="heading-txt">
        <h2 class="text-center sub-heading" style="color: #484451">
          Making Real Estate <span style="color: #43d2ff">Simple</span>
        </h2>
      </div>
      <div class="welcome-txt">
        <p class="text-center sub-heading" style="color: #484451">
          Forgot Password
        </p>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-6 col-xl-6 mx-auto">
        <form [formGroup]="forgetForm" (ngSubmit)="forgetMethod()">
          <div class="form-group">
            <input min="10" minlength="10" max="10" maxlength="10" type="text" formControlName="emailOrPhoneNo"
              class="form-control" placeholder="Email/Phone Number" />
            <div *ngIf="submitted && f['emailOrPhoneNo'].invalid" class="text-danger">
              *Please enter your Email/Phone Number
            </div>
          </div>
          <div class="prev-next-btn text-center">
            <span class="login-btn">
              <button type="submit" class="next-btn">Send</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>