


<section class="ftco-section bg-light">
  <div class="">
      <div class="container" id="container">
          <div class="form-container log-in-container">
            <form [formGroup]="forgetForm" (ngSubmit)="forgetMethod()">
                  <h2>Forget password</h2>
                  <span>or use your account</span>
                  <div class="form-group">
                    <input min="10" minlength="10" max="10" maxlength="10" type="text" formControlName="emailOrPhoneNo"
                      class="form-control" placeholder="Email/Phone Number" />
                    <div *ngIf="submitted && f['emailOrPhoneNo'].invalid" class="text-danger">
                      *Please enter your Email/Phone Number
                    </div>
                  </div>
                  <button type="submit">Send</button>
              </form>
          </div>
          <div class="overlay-container">
              <div class="overlay">
                  <div class="overlay-panel overlay-right">
                      <h1>Forget password </h1>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>