


<section class="ftco-section bg-light">
  <div class="">
      <div class="container" id="container">
          <div class="form-container log-in-container">
            <form [formGroup]="forgetForm" (ngSubmit)="forgetMethod()">
                  <h2>Forget password</h2>
                  <span>Enter Email ID</span>
                  <div class="form-group">
                    <input type="text" formControlName="emailOrPhoneNo"
                      class="form-control" placeholder="Email ID" />
                    <div *ngIf="submitted && f['emailOrPhoneNo'].hasError('required')" class="text-danger">
                      *Please enter your Email ID
                    </div>
                    <div *ngIf="submitted && f['emailOrPhoneNo'].hasError('email')" class="text-danger">
                      *Invalid Email ID
                    </div>
                  </div>
                  <button type="submit">Send</button>
              </form>
          </div>
          <div class="overlay-container">
              <div class="overlay">
                  <div class="overlay-panel overlay-right">
                      <h1>Forget password </h1>
                      <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>