<section class="ftco-section bg-light">
    <div class="">
        <div class="container" id="container">
            <div class="form-container log-in-container">
                <form [formGroup]="loginForm">
                    <h2>Login</h2>
                    <div class="social-container">
                        <a class="social" (click)="facebookSignin()"><i class="fa fa-facebook fa-2x"></i></a>
                        <a class="social" (click)="googleSignin()"><i class="fab fa fa-google fa-2x"></i></a>
                    </div>
                    <span>or use your account</span>
                    <input name="email" formControlName="email" class="form-control" type="email" placeholder="Email" />
                    <input name="password" formControlName="password" class="form-control" placeholder="Password" />
                    <p class="signup" routerLink="/sign-up">Don't have an account? <span class="">SignUP</span></p>
                    <a routerLink="forget-password">Forgot your password?</a>
                    <button type="submit" [disabled]="!loginForm.valid" (click)="loginMethod()">Log In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Login </h1>
                        <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>