<section class="hero-wrap hero-wrap-2" style="background-image:url(assets/images/bg_4.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 pt-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index-2.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Blog <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Our Blog</h1>
            </div>
        </div>
    </div>
</section>
<div class="advertisment_sec">
    <div class="advertisment">
        <app-advertisement></app-advertisement>
                        </div>
</div>
<section class="ftco-section bg-light">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-4 d-flex" *ngFor="let data of listDetails">
                <div class="blog-entry justify-content-end" data-aos="" data-aos-duration="1000" data-aos-delay="100" [routerLink]="['/blogs-details',data.id]">
                    <a class="block-20 img d-flex align-items-end" style="background-image:url({{data.image?data.image:img}})">
                    </a>
                    <div class="text">
                        <p class="meta"><span>{{data.createdAt | date}}</span>
                        </p>
                        <h3 class="heading mb-3"><a>{{data.title}}</a></h3>
                        <p class="blog_details" innerHtml="{{data.description}}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>